.order-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stage-wrapper {
  display: flex;
  width: 970px;
  justify-content: space-between;
}
.stage-box {
  width: 300px;
  /* height: 185px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.stage-number {
  margin: 0;
  font-size: 50px;
  line-height: 67px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
}
.stage-text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}
.order-button {
  margin-top: 50px;
  padding: 24px 140px 23px 137px;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border: 1px solid #000;
  background-color: transparent;
  cursor: pointer;
}
.order-button:hover {
  color: red;
  border: 1px solid red;
  transition: 0.5s ease;
}
@media (max-width: 1000px) {
  .stage-wrapper {
    width: max-content;
    flex-direction: column;
    align-items: center;
  }
  .stage-box {
    margin-bottom: 25px;
  }
  .stage-box:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 650px) {
  .order-button {
    padding: 13px 38px 14px 35px;
    font-size: 15px;
    line-height: 18px;
  }
  .stage-box {
    margin-bottom: 25px;
  }
  .stage-number {
    font-size: 35px;
    line-height: 46px;
  }
  .stage-text {
    font-size: 14px;
    line-height: 21px;
  }
}
