.collage {
  padding-top: 50px;
  padding-bottom: 50px;
}
.collage-wrapper {
  display: flex;
  width: 100%;
}
.collage-left {
  margin-right: 15px;
}
.collage-left__top {
  margin-bottom: 15px;
  width: 360px;
  height: 460px;
}
.collage-left__top-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collage-left__middle {
  padding-left: 10px;
  margin-bottom: 20px;
}
.collage-left__middle-img {
  width: 330px;
  height: 330px;
  object-fit: cover;
}
.collage-left__bottom {
  width: 360px;
  height: 480px;
}
.collage-left__bottom-img {
  width: 100%;
  height: 100%;
}
.collage-right__top {
  padding-top: 15px;
  padding-left: 25px;
  margin-bottom: 25px;
}
.collage-right__top-img {
  width: 330px;
  height: 340px;
  object-fit: cover;
}
.collage-right__middle {
  width: 360px;
  height: 470px;
  margin-bottom: 30px;
}
.collage-right__middle-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collage-right__bottom {
  padding-left: 20px;
}
.collage-right__bottom-img {
  width: 330px;
  height: 330px;
  object-fit: cover;
}
@media (max-width: 800px) {
  .collage-left {
    margin-right: 10px;
  }
  .collage-left__top {
    width: 180px;
    height: 230px;
  }
  .collage-left__middle-img {
    width: 165px;
    height: 165px;
  }
  .collage-left__bottom {
    width: 180px;
    height: 240px;
  }
  .collage-right__top-img {
    width: 165px;
    height: 170px;
    object-fit: cover;
  }
  .collage-right__middle {
    width: 180px;
    height: 235px;
  }
  .collage-right__bottom-img {
    width: 165px;
    height: 165px;
  }
  .collage-right__top {
    padding-left: 15px;
  }
  .collage-right__bottom {
    padding-left: 10px;
  }
}
@media (max-width: 380px) {
  .collage-left {
    margin-right: 5px;
  }
  .collage-left__top {
    width: 160px;
    height: 210px;
  }
  .collage-left__middle-img {
    width: 145px;
    height: 145px;
  }
  .collage-left__bottom {
    width: 160px;
    height: 220px;
  }
  .collage-right__top-img {
    width: 145px;
    height: 150px;
    object-fit: cover;
  }
  .collage-right__middle {
    width: 160px;
    height: 215px;
  }
  .collage-right__bottom-img {
    width: 145px;
    height: 145px;
  }
}
