.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 99;
}
.wrapper-burger {
  display: none;
}
.modal-active {
  opacity: 1;
  pointer-events: all;
}
.modal-content {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  transform: scale(0.5);
  transition: 0.4s all;
}
.modal-content-active {
  transform: scale(1);
}
.modal-nav {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.modal-wrapper__item {
  margin-right: 50px;
}
.modal-item-line {
  height: 2px;
  width: 0%;
  transition: 0.5s ease;
}
.modal-item-line--active {
  width: 100%;
  background-color: #000;
}
.modal-wrapper__item:hover .modal-item-line {
  width: 100%;
  background-color: #000;
}
.modal-wrapper__item:first-child a {
  font-size: 20px;
  font-weight: 500;
}
.modal-wrapper__item:last-child {
  margin-right: 0;
}
.modal-button__main {
  left: 50%;
  top: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #000;
}
.modal-wrapper__link {
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.modal-wrapper-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 33px;
}
.modal-wrapper-line {
  width: 300px;
  height: 2px;
  background-color: rgba(189, 154, 135, 1);
  margin-bottom: 25px;
}
.modal-title {
  margin: 0;
  font-size: 35px;
  line-height: 47px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
}
.product-card {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.product-card:nth-child(3n + 3) {
  margin-right: 0;
}
.product-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.wrapper-card-img {
  position: relative;
  width: 360px;
  height: 327px;
}
.wrapper-card-img::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 15px;
  left: 15px;
  border: 1px solid #000;
  z-index: 5;
}
.wrapper-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper-cards {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 105vh;
  padding: 0 30px 30px 30px;
}
.product-name {
  margin: 17px 0 0 0;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.product-price {
  margin: 6px 0 13px 0;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.product-button {
  padding: 24px 63px 23px 62px;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #000;
  cursor: pointer;
  color: #000;
}
@media (max-width: 1230px) {
  .wrapper-card-img {
    width: 300px;
    height: 267px;
  }
  .modal-wrapper__item:first-child a {
    font-size: 20px;
    font-weight: 500;
  }
  .modal-wrapper__item {
    margin-right: 40px;
  }
  .product-button {
    padding: 20px 55px 20px 55px;
  }
}
@media (max-width: 1050px) {
  .modal-wrapper__item:first-child {
    display: none;
  }
  .menu-line-modal {
    width: 100%;
    height: 2px;
    background-color: rgba(189, 154, 135, 1);
  }
  .menu-line-modal:first-child {
    margin-bottom: 20px;
  }
  .menu-line-modal:last-child {
    margin-top: 20px;
  }
  .wrapper-burger {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }
  .wrapper-cards {
    padding: 0 15px 0 15px;
  }
  .product-card:nth-child(3n + 3) {
    margin-right: 30px;
  }
  .product-card:nth-last-child(-n + 3) {
    margin-bottom: 15px;
  }
  .modal-header {
    position: absolute;
    left: -150%;
    transition: 0.8s ease;
    height: 100%;
    width: 300px;
    background-color: #fff;
    z-index: 101;
    padding: 0 20px;
  }
  .modal-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-wrapper__item:first-child {
    margin-bottom: 50px;
  }
  .modal-wrapper__item {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .modal-wrapper__item:last-child {
    margin-bottom: 0;
  }
  .modal-header-active {
    left: 0;
  }
}
@media (max-width: 720px) {
  .modal-button__main {
    font-size: 16px;
    line-height: 21px;
  }
  .product-card {
    margin-right: 15px;
  }
  .product-card:nth-child(3n + 3) {
    margin-right: 15px;
  }
  .product-card:nth-last-child(-n + 3) {
    margin-bottom: 15px;
  }
  .modal-list {
    padding: 0 50px 0 50px;
  }
  .modal-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper-cards {
    height: 510px;
  }
  .modal-wrapper-title {
    padding-bottom: 20px;
  }
  .modal-wrapper-line {
    margin-bottom: 20px;
  }
  .wrapper-burger {
    padding: 0;
  }
  .wrapper-card-img::after {
    top: 6px;
    left: 6px;
  }
  .modal-title {
    font-size: 23px;
    line-height: 31px;
  }
  .wrapper-card-img {
    width: 153px;
    height: 140px;
  }
  .product-name {
    margin: 17px 0 0 0;
    font-size: 13px;
    line-height: 21px;
  }
  .product-price {
    margin: 6px 0 13px 0;
    font-size: 12px;
    line-height: 15px;
  }
  .product-button {
    font-size: 10px;
    line-height: 12px;
    padding: 9px 14px 8px 16px;
  }
}
@media (max-width: 430px) {
  .wrapper-cards {
    padding: 0;
  }
}
