* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.none {
  visibility: hidden;
}
.overflow-hidden {
  touch-action: none;
  -ms-touch-action: none;
  /* overflow: hidden; */
  /* position: relative; */
  /* height: 100%; */
  overflow-y: hidden;
  /* margin-right: var(--scrollbar-width); */
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-galery {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-modal {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-collage {
  max-width: 750px;
  margin: 0 auto;
}
.container-arrows {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 50px;
}
.container-slider {
  max-width: 1170px;
}
.hidden {
  visibility: hidden;
}
.rotate-plus {
  transform: rotate(45deg);
}
.rotate-minus {
  transform: rotate(-45deg);
}
@media (max-width: 1300px) {
  .container-slider {
    max-width: 1140px;
  }
}
@media (max-width: 1230px) {
  .container-modal {
    max-width: 1050px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .container-slider {
    max-width: 690px;
  }
  .container-arrows {
    max-width: 790px;
  }
  .container-galery {
    max-width: 570px;
  }
}
@media (max-width: 1050px) {
  .container-modal {
    max-width: 720px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 751px;
  }
  .container-slider {
    max-width: 315px !important;
    padding: 0;
  }
  .container-arrows {
    max-width: 395px;
  }
}
@media (max-width: 800px) {
  .container-collage {
    max-width: 370px;
  }
  .title-advice {
    width: 306px;
    text-align: center;
  }
}
@media (max-width: 720px) {
  .container-modal {
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 650px) {
  .title {
    font-size: 23px;
    line-height: 30px;
    white-space: wrap;
    text-overflow: ellipsis;
  }
  .title-why {
    width: 200px;
    text-align: center;
  }
}
@media (max-width: 430px) {
  .container-modal {
    max-width: 375px;
  }
}
@media (max-width: 400px) {
  .container-arrows {
    max-width: 300px;
  }
}
@media (max-width: 380px) {
  .container-collage {
    max-width: 330px;
  }
}
