* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 20px;
}
.hidden {
  visibility: hidden;
}
.rotate-plus {
  transform: rotate(45deg);
}
.rotate-minus {
  transform: rotate(-45deg);
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 751px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
}
